.description-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.description-container__h2 {
  line-height: 1;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0;
}
.description-container__h1 {
  line-height: 1;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0;
}

.description-container__h1__strong {
  font-weight: 500;
  line-height: 1;
}

.description-container__p {
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
